*{
    font-family: lacquer, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.mainheader{
    color: red;
    display: flex;
    justify-content: center;
}
.functionalities{
    display: flex;
    justify-content: center;
}
#colorselect{
    
}